<!-- file views/export.hbs -->

<!DOCTYPE html>
<html lang="eg">
<head>
    <meta charset="UTF-8">
    <title>Export Database</title>

<body>

<form method="post">

    <select name = 'filetype'>
        <option value="csv">CSV</option>
        <option value="jsontype">json</option>
    </select>
    <input type="submit" value="Export">
</form>

</body>
