{{#if errors}}
    <div class="alert alert-danger" role="alert">
        <h2>Erreurs</h2>

        <ul>
            {{#each errors}}
                <li> {{this.msg}} </li>
            {{/each}}
        </ul>

    </div>
{{/if}}

<h2>New user registration</h2>

<div class="container-fluid">
    <form action="/auth/add" method="post">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter your name"
                           value={{data.name}}>
                </div>

                <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input type="text" class="form-control" name="firstname" placeholder="Enter your firstname"
                           value={{data.firstname}}>
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" aria-describedby="usernameHelp"
                           placeholder="Enter username" value={{data.username}}>
                    <small id="usernameHelp" class="form-text text-muted">Username is usually p.nom</small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="password1">Password</label>
                    <input type="password" class="form-control" name="password1" placeholder="Enter password">
                </div>

                <div class="form-group">
                    <label for="password2">Type password again</label>
                    <input type="password" class="form-control" name="password2"
                           placeholder="Enter same password again">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
</div>

